button{
    cursor: pointer;
}
.add_pivot{
    background-color: transparent;
    text-align: center;
    margin-left: 5px;
    border-radius: 5px;
    font-size: 8px;
}
.delete_pivot{
    background-color: transparent;
    text-align: center;
    margin-left: 10px;
    margin-bottom: 7px;
    border-radius: 5px;
    font-size: 2px;
}
.send_period{
    width: 150px;
    text-align: center;
}
#num_per_send{
    width: 100px;
    text-align: center;
    font-size: large;
}
#bet_amount{
    width: 150px;
    font-size: large;
}
.time_start{
    font-size: large;
}
.send_period{
    font-size: large;
}
#run_inject{
    margin: 10px 30%;
    background-color:greenyellow;
    border-radius: 5px;
}
#send_success_num{
    font-size: large;
}
